body{
    text-align: center;
    
    background-image: url("catmatrix.gif");
    background-size: 100%;
    background-repeat:no-repeat;
    
    background-color: black;
    color:white;
}

#gameMenu{
    border: 10px solid white;
    width:80%;
    margin:auto;

    position:absolute;
    margin-top: -50px;
    margin-left: -50px;
    top: 45%;
    left: 14%;
}

h1{
    border-bottom:10px solid green;
    padding:15px;
    margin:0px; 
}

button{
    margin:15px;
    padding: 15px;
}

#newGameButt, #continueGameButt{
    color:white;
    font-weight: bold;
}

#newGameButt{
    width:20%;
    background-color:red;

    margin-left:20px;
}

#continueGameButt{
    width:20%;
    background-color:blue;
}

p{
    color:greenyellow;
    position: fixed;
    bottom: 0;
}

@media only screen and (max-width: 1000px) {
    h1{
        font-size: 50px;
    }

    #continueGameButt, #newGameButt{
        font-size:25px;

        width:40%;
    }

    #newGameButt{
        margin-left:20px;
    }
}